extends ./components/layout

block content
  section.sign-up
    form.sign-up__form.form(action='#' method='post' enctype='multipart/form-data' autocomplete='off')
      .sign-up__title
        h2 Регистрация
        a.sign-up__link(href='/login') Вход
      include components/sign-up-avatar
      include components/sign-up-inputs
      button.sign-up__button.btn.btn--medium.js-button(type='submit' disabled) Создать аккаунт


