extends ./components/layout.pug

block content
  section.ticket
    .ticket__wrapper
      h1.visually-hidden Карточка объявления
      include ./componetns/ticket-content.pug
      .ticket__comments
        .ticket__warning
          p
            | Отправка комментариев доступна
            br
            | только для зарегистрированных пользователей.
          a.btn.btn--big(href='sign-up.html') Вход и регистрация
        h2.ticket__subtitle Коментарии
        .ticket__comments-list
          ul.comments-list
            each comment in comments
              include ./components/comment-card
