extends ./components/layout.pug

block content
  section.ticket
    .ticket__wrapper
      h1.visually-hidden Карточка объявления
      include ./components/ticket-content.pug
      .ticket__comments
        h2.ticket__subtitle Коментарии
        include ./components/comment-form
        if (comments.length) {
          .ticket__comments-list
            ul.comments-list
              each comment in comments
                include ./components/comment-card
        } else {
          .ticket__message
            p У этой публикации еще нет ни одного комментария.
        }

