doctype html
html(lang='ru' class=`${page === `404` ? `html-not-found`: `html-server`}`)
  include head
  body(class=`${page === `404` ? `body-not-found`: `body-server`}`)
    main
      section.error
        h1.error__title= statusCode
        h2.error__subtitle= statusText
        ul.error__list
          li.error__item
            a(href='/register') Вход и регистрация
          li.error__item
            a(href='/offers/add') Новая публикация
          li.error__item
            a(href='/') Главная страница
        form.error__search.search.search--small(method='get' action='#' autocomplete='off')
          input(type='search' name='search' placeholder='Поиск' aria-label='Поиск')
          .search__icon
          .search__close-btn
        a.error__logo.logo(href='/')
          img(src='img/logo.svg' width='179' height='34' alt='Логотип Куплю Продам')
    include scripts
