.sign-up__avatar-container.js-preview-container
  .sign-up__avatar.js-preview
  .sign-up__field-avatar
    input#avatar.visually-hidden.js-file-field(type='file' name='avatar')
    label(for='avatar')
      span.sign-up__text-upload Загрузить аватар…
      span.sign-up__text-another Загрузить другой аватар…
