-
  const formInputs = [
    {
      type: `text`,
      name: `user-name`,
      text: `Имя и фамилия`
    },
    {
      type: `email`,
      name: `user-email`,
      text: `Эл. почта`
    },
    {
      type: `password`,
      name: `user-password`,
      text: `Пароль`
    },
    {
      type: `password`,
      name: `user-password-again`,
      text: `Пароль еще раз`
    }
  ];

each formInput in formInputs
  .form__field.sign-up__field
    input#user-name.js-field(
      type= formInput.type
      name= formInput.name
      required
    )
    label(for= formInput.name)= formInput.text
    span Обязательное поле
