.ticket-form__avatar-container.js-preview-container.uploaded
  .ticket-form__avatar.js-preview
    img(src='/img/item02.jpg' srcset='/img/item02@2x.jpg 2x' alt)
  .ticket-form__field-avatar
    input#avatar.visually-hidden.js-file-field(type='file' name='avatar')
    label(for='avatar')
      span.ticket-form__text-upload Загрузить фото…
      span.ticket-form__text-another Загрузить другое фото…
